.card-button {
    width: 80px;
    height: 112px;
    margin: 3px;
    margin-right: -40px;
    margin-top: -60px;
    background-size: 80px 112px;
    background-repeat: none;
    padding: 0px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px black)
}