#s01 {
    background-image: url('./Cards/s01.png')
}

#s02 {
    background-image: url('./Cards/s02.png')
}

#s03 {
    background-image: url('./Cards/s03.png')
}

#s04 {
    background-image: url('./Cards/s04.png')
}

#s05 {
    background-image: url('./Cards/s05.png')
}

#s06 {
    background-image: url('./Cards/s06.png')
}

#s07 {
    background-image: url('./Cards/s07.png')
}

#s08 {
    background-image: url('./Cards/s08.png')
}

#s09 {
    background-image: url('./Cards/s09.png')
}

#s10 {
    background-image: url('./Cards/s10.png')
}

#s11 {
    background-image: url('./Cards/s11.png')
}

#s12 {
    background-image: url('./Cards/s12.png')
}

#s13 {
    background-image: url('./Cards/s13.png')
}

#h01 {
    background-image: url('./Cards/h01.png')
}

#h02 {
    background-image: url('./Cards/h02.png')
}

#h03 {
    background-image: url('./Cards/h03.png')
}

#h04 {
    background-image: url('./Cards/h04.png')
}

#h05 {
    background-image: url('./Cards/h05.png')
}

#h06 {
    background-image: url('./Cards/h06.png')
}

#h07 {
    background-image: url('./Cards/h07.png')
}

#h08 {
    background-image: url('./Cards/h08.png')
}

#h09 {
    background-image: url('./Cards/h09.png')
}

#h10 {
    background-image: url('./Cards/h10.png')
}

#h11 {
    background-image: url('./Cards/h11.png')
}

#h12 {
    background-image: url('./Cards/h12.png')
}

#h13 {
    background-image: url('./Cards/h13.png')
}

#d01 {
    background-image: url('./Cards/d01.png')
}

#d02 {
    background-image: url('./Cards/d02.png')
}

#d03 {
    background-image: url('./Cards/d03.png')
}

#d04 {
    background-image: url('./Cards/d04.png')
}

#d05 {
    background-image: url('./Cards/d05.png')
}

#d06 {
    background-image: url('./Cards/d06.png')
}

#d07 {
    background-image: url('./Cards/d07.png')
}

#d08 {
    background-image: url('./Cards/d08.png')
}

#d09 {
    background-image: url('./Cards/d09.png')
}

#d10 {
    background-image: url('./Cards/d10.png')
}

#d11 {
    background-image: url('./Cards/d11.png')
}

#d12 {
    background-image: url('./Cards/d12.png')
}

#d13 {
    background-image: url('./Cards/d13.png')
}

#c01 {
    background-image: url('./Cards/c01.png')
}

#c02 {
    background-image: url('./Cards/c02.png')
}

#c03 {
    background-image: url('./Cards/c03.png')
}

#c04 {
    background-image: url('./Cards/c04.png')
}

#c05 {
    background-image: url('./Cards/c05.png')
}

#c06 {
    background-image: url('./Cards/c06.png')
}

#c07 {
    background-image: url('./Cards/c07.png')
}

#c08 {
    background-image: url('./Cards/c08.png')
}

#c09 {
    background-image: url('./Cards/c09.png')
}

#c10 {
    background-image: url('./Cards/c10.png')
}

#c11 {
    background-image: url('./Cards/c11.png')
}

#c12 {
    background-image: url('./Cards/c12.png')
}

#c13 {
    background-image: url('./Cards/c13.png')
}