.background {
    min-height: 100%;
    min-width: 500px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.homescreen-header {
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 15px;
}

.homescreen-navbutton {
    display: block;
    background-color: darkgreen;
    color: white;
    text-shadow: 2px 2px 2px black;
    border: 1px solid white;
    width: 120px;
    height: 40px;
    margin: 15px;
}

.home-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

