.char-icon {
    width: 80px;
    display: inline-block;
    filter: drop-shadow(1px 1px 1px black);
    margin: auto;
    margin-bottom: 5px;
}

.card-icon {
    height: 50px;
    display: inline-block;
    filter: drop-shadow(1px 1px 1px black)
}

.score-icon {
    height: 50px;
    filter: drop-shadow(1px 1px 1px black)
}

.status {
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.icon-label {
    display: block;
    font-size: 20px;
    color: white;
    text-shadow: 1px 2px 2px black;
}

#deck {
    display: block;
    background-image: url('DrawButton.png');
    background-size: 55px 80px;
    border: none;
    padding: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 80px;
    width: 55px;
    filter: drop-shadow(1px 1px 1px gainsboro);
    margin-top: 3px;
}

.status-header {
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
    text-shadow: 2px 2px 2px black;
    min-width: 105px;
}

.status-bar {
    background-color: darkgreen;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.footer-text {
    margin-top: 20px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.status-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.ai-status-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: center;
}

.ai-icon-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

@media (min-width: 480px) {
    .status-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .ai-status-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .ai-icon-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}